html {
    background: url(../static/diabetes-negative.jpg) no-repeat center center fixed;
    background-size: cover;
}

.result h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 4rem;
}

.result b {
    color: green;
}